* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    height: 100vh;
}

.name-input-screen{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-div{
    display: flex;
    justify-content: space-evenly;
}

/* digital pet screen */
.text-display{
    display: flex;
    justify-content: space-evenly;
}

.metrics-display{
    background-color: bisque;
}

.metric{
    margin: 10px;
    background-color: aqua;
}

.name-display{
    background-color: bisque;
}
.name-text{
    background-color: aqua;
}
.buttons-display{
    display: flex;
    justify-content: space-evenly;
}
.no-display{
    display: none;
}
.digital-pet-screen{
    height: 100%;
}
.digital-pet-display{
    display: flex;
    justify-content: center;

    margin: 60px;
}
img{
    height: 50vh;
}

