* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    height: 100vh;
    max-height: 95vh;
}

.name-input-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    height: 100%;
    border: 20px solid purple;
    border-radius: 10px;
    overflow: hidden;
}


/* digital pet screen */
.text-display{
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.metrics-display{
    background-color: bisque;
    width: 70%;
}

.metric{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    text-align-last: justify;
}

.name-display{
    background-color: bisque;
    width: 30%;
}
.name-text{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
    background-color: aqua;

}
.evolution-text{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
    background-color: aqua;

}
.buttons-display{
    display: flex;
    justify-content: space-evenly;
    padding: 10% 5% 100% 5%; 
    background-color: salmon;
}
.no-display{
    display: none;
}
.digital-pet-screen{
    margin: 5%;
    height: 95%;
    max-height: 100%;
    border: 20px solid purple;
    border-radius: 10px;
    overflow: hidden;
}
.digital-pet-display{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 3%;
}
img{
    height: 30vh;
}

/* This is for the submit */
.button-div{
    display: flex;
    justify-content: space-evenly;
}
.player-buttons{
    padding: 10px;
}

.new-button-container{
    margin-top: 20px;
    padding: 3% 5% 100% 5%; 
    background-color: salmon;
}
.new-button-flex{
    display: flex;
    justify-content: space-evenly;
}

/* This is for start screen */
.new-button-container-start{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-pet-btn{
    padding: 10px;
}

.death-flag{
    padding: 0% 10%;
    text-align: center;
}

