:root{
    --dark: #577590;
    --warn: #F9C74F;
    --error:#F94144;
    --success: #90BE6D;
    --primary: #F3722C;
    --secondary: #43AA8B;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    height: 100vh;
    max-height: 95vh;
    background-color: #f1f1f1;
    color: #1f1f1f;
    font-family: "Helvetica","Arial", "sans-seriff";
}

.name-input-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    height: 100%;
    border: 20px solid var(--primary);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}


/* digital pet screen */
.text-display{
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.metrics-display{
    background-color: var(--warn);
    width: 70%;
}

.metric{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
    border: 5px solid var(--primary);
    border-radius: 20px;
    background-color: #f1f1f1;
    text-align-last: justify;
}

.name-display{
    background-color: var(--warn);
    width: 30%;
}
.name-text{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
    border: 5px solid var(--secondary);
    border-radius: 20px;
    background-color: #f1f1f1;
    font-size: .7em;

}
.evolution-text{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
    border: 5px solid var(--secondary);
    border-radius: 20px;
    background-color: #f1f1f1;
    font-size: .7em;

}
.buttons-display{
    display: flex;
    justify-content: space-evenly;
    padding: 10% 5% 100% 5%; 
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--success);
}
.no-display{
    display: none;
}
.digital-pet-screen{
    margin: 5%;
    height: 100%;
    max-height: 100%;
    border: 20px solid var(--primary);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
.digital-pet-display{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 3%;
}
img{
    height: 30vh;
}

button{
    border: 5px solid var(--primary);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    color:var(--primary);
}

/* This is for the name submit */
.button-div{
    display: flex;
    justify-content: space-evenly;
}
.player-buttons{
    padding: 10px;
    border: 5px solid var(--dark);
    color:var(--dark);
}

.new-button-container{
    margin-top: 20px;
    padding: 1% 5% 100% 5%; 
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--success);
}
.new-button-flex{
    display: flex;
    justify-content: space-evenly;
}

/* This is for start screen */
.new-button-container-start{
    display: flex;
    justify-content: center;
    align-items: center;
}
.opening-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    height: 100%;
    border: 20px solid var(--primary);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
.starting-image-container{
    display: flex;
    justify-content: center;
}
.new-pet-btn{
    padding: 10px;
}

.death-flag{
    padding: 0% 10%;
    text-align: center;
}

